<p style="color: green"><%= notice %></p>

<h3>Items in your shopping cart</h3>
<ul>
  <% @cart.listitems.each do |item| %>
    <li> <%= item.product.name %> - <%=item.product.price%>: <%=item.quantity%></li>
  <%end%>
</ul>

<p>Total Price: <%=@cart.total_price%></p>

<%=button_to 'Empty Cart', @cart, method: :delete, data: {confirm: 'Are you sure?'}%>



