<!DOCTYPE html>
<html>
  <head>
    <title>Hw2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class = "<%=controller.controller_name%>">
    <div id="banner">
      <%= image_tag("logo.png")%>
      <div class="welcome">
      <p>Welcome <%=@userid%></p>
      </div>
      <h1> Our Products </h1>
    </div>
    <div id="columns">
      <div id="side">
      <h1></h1>
        <div id="cart">
          <%= render @cart %>
        </div>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
